* {
    margin: 0;
    padding: 0;
    border: none;
    outline: none;
    box-sizing: border-box;
    font-family: "Ubuntu", sans-serif;
}

body {
    display: flex;
}

.sidebar{
    position: sticky;
    top: 0;
    left: 0;
    bottom: 0;
    width: 110px;
    height: 100vh;
    padding: 0 1.5rem;
    color: #fff;
    width: 250px;
    transition: all 0.5s linear;
    background-color: #3468C0;
}

.logo{
    height: 80px;
    padding: 16px;
}

.menu{
    height: 88%;
    position: relative;
    list-style: none;
    padding: 0;
}

.menu li {
    padding: 1rem;
    margin: 8px 0;
    border-radius: 8px;
    transition: all 0.5s ease-in-out;
}

.menu li:hover, .active {
    background-color: #86A7FC;
}

.menu a {
    color: #fff;
    text-decoration: none;
    font-size: 14px;
    display: flex;
    align-items: center;
    gap: 1.5rem;
}


.menu a i {
    font-size: 1.2rem;
}

/* Main content */
.main-content {
    position: relative;
    background-color: #EFECEC;
    width: 100%;
    padding: 1rem;
}

.header-wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    background-color: #fff;
    border-radius: 41px;
    padding: 10px 2rem;
    margin-bottom: 1rem;
}

.header-title h2 {
    color: #3468C0;
}

.search-box {
    background-color: #EFECEC;
    border-radius: 41px;
    display: flex;
    align-items: center;
    gap: 1rem;
    padding: 4px 12px;
}

.search-box input {
    background: transparent;
    padding: 10px;
}

.search-box i {
    font-size: 1.2rem;
    cursor: pointer;
    transition: all 0.5s ease-out;
}

.search-box i:hover {
    transform: scale(1.3);
}

p {
    color: grey;
    font-size: 0.8rem;
}

.first{
    display: flex;
    align-content: flex-start;
    justify-content: center;
    align-items: center;
    font-size: 3vw;
    background-color: #fff;
    padding: 30px;
    border-radius: 20px;
}
.first img{
    width:23vw;
}


#projects{
    padding: 50px 0;
}
#projects .sub-title{
    text-align: center;
}
.work-list{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 40px;
    margin-top: 50px;
}
.work{
    max-width: 400px;
    max-height: 500px;
    border-radius: 10px;
    position: relative;
    overflow: hidden;
}
.work img{
    width: 100%;
    height:425px;
    border-radius: 10px;
    display:block;
    transition: transform 0.5s;
}

#projects{
    margin-top: 30px;
    background-color: #fff;
    border-radius: 41px;
    padding: 20px;
    text-align: center;
}

.typewriter {
    color: #3468C0;
  }
